.body3 {
	height: 540px;
}

.dr-table-cell {
    border-bottom: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    padding: 4px;
    vertical-align:top;
}


h1 {
    font-size: 1.6em;
    margin-top: 10;
}


.dr-toolbar-int {
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
	white-space: normal;
}

.dr-pnl-b {
	color: #000000;
	font-family: Verdana;
	font-size: 10px;
	padding: 0 0 0 0;
	vertical-align:top;
}

.dr-pnl {
	border-style: solid;
	border-color: #6E7953;
}


.dr-table-subheadercell {
	border-right: 1px solid #C0C0C0;
	color: #000000;
	background-color: #f1efe4;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 4px;
	text-align: center;
	white-space: nowrap;
}


.dr-pnl-h {
	background-color: #6E7953;
	background-image: none;
	border-color: #6E7953;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}



.tit_menu_exp {
    background-color: #60BB46;
    background-image: none;
    border-color: #60BB46;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}

.dr-pmenu-top-group-div {
    border-color: #60BB46;
}


/**rich:calendar*/

.rich-calendar-holly{
background-color:#BED08F;
color:black;
}

.rich-calendar-hover{
background-color:#BED08F;
color:black;
}

.rich-calendar-select{
background-color:#60BB46;
color:black;
}

.rich-calendar-today{

background-color:#BED08F;

color:black;

}
/***/

/* PANEL rich:simpleTogglePanel*/
.dr-stglpnl-h {
    background-color: #6E7953;
    border-color: #6E7953;
    color: #FFFFFF;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.dr-stglpnl-h {
    background-image: none;
}

.dr-stglpnl {
    background-color: #FFFFFF;
    border-color: #60BB46;
}

/* modal espera */
.dr-mpnl-pnl-h {
    background-color: #60BB46;
    color: #FFFFFF;
    font-weight: bold;
    background-image: none;
    border-color: #60BB46;
}

.dr-mpnl-pnl {
    background-color: #FFFFFF;
    border-color: #999977;
}

/* recuadro */
.dr-tbpnl-cntnt {
    background-color: #FFFFFF;
    border-bottom-color: #60BB46;
    border-left-color: #60BB46;
    border-right-color: #60BB46;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

.dr-bottom-line {
    border-bottom: 1px solid #60BB46;
}

/* TABS */
.dr-tbpnl-tb-act {
    background-color: #999977;
    color: #ffffff;
    background-image: none;
}

.dr-tbpnl-tb-inact {
    background-color: #f1efe4;
    background-image: none;
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #999977;
    border-style: solid;
    border-width: 0px 0px 0;
    cursor: pointer;
}

.dr-tbpnl-tbbrdr {
    background-image: none;
    background-color: #999977;
}

.dr-tbpnl-tbtopbrdr {
    border-top-color: #999977;
}




/* FILE UPLOADER */
.rich-fileupload-toolbar-decor {
    background-color: #f1efe4;
    border-bottom: 1px solid #C0C0C0;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 2px;
    width: 100%;
}

.rich-fileupload-button {
    background-color: #999977;
    background-image: none;
    background-position: left top;
    background-repeat: repeat-x;
    cursor: pointer;
    padding: 2px;
    color: #ffffff;
}

.rich-fileupload-button-content {
    color: #000000;
    display: block;
    text-decoration: none;
}

.rich-fileupload-button-light {
    background-color: #6E7953;
    background-image: none;
    background-position: left top;
    background-repeat: repeat;
    border: 1px solid #6E7953;
    cursor: pointer;
    padding: 1px;
}


/* MENU CLICK CUENTA*/

.rich-menu-list-bg {
    background-image: none;
    border-left-color: #F1EFE4;
    border-right-color: #F1EFE4;
    border-top-color: #F1EFE4;
}

.rich-menu-separator {
    border-top-color: #BED08F;
}

.rich-menu-item, .rich-menu-item a, .rich-menu-item a:hover, .rich-menu-item a:visited, .rich-menu-group, .rich-menu-group a, .rich-menu-group a:hover, .rich-menu-group a:visited {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    background-color: #F1EFE4;
}

.rich-menu-item a:hover, .rich-menu-group a:hover {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    background-color: #ffffff;
}



/* otros */
/* tabla */
.table-subheadercelltittle {
    background-color: #60BB46;
    border-right: 1px solid #C0C0C0;
    color: #ffffff;
    font-family: Verdana;
    font-size: 12px;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}



/* theme */

html {
	overflow-y: scroll;
}

body {
	font-size: 10px;
	margin: 0px;
	font-family: Verdana;
}

a img {
	border: none;
}

h1 {
    font-size: 1.6em;
    margin-top: 0;
}

input[type=submit], input[type=button] {
	font-size: 10px;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	font-size: 10px;
	padding-left: 1px;
}

select {
	font-size: 10px;
	font-family: Verdana;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}

.rich-table {
	width: 100%;
}

.body {
	padding: 30px;
}
.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
	font-family: Verdana;
	font-size: 10px;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input, .errors textarea, .errors select {
	border: 1px solid red !important;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
} 
/**rich_menu*/
.rich-pmenu-group{
	border-top-color:#6E7953;
	tableBorderColor:#6E7953;
	    background: #6E7953;
	    font-family:#6E7953;
	    color: black;
	
}
.rich-pmenu-item{

	border-top-color:#BED08F;
}
.rich-pmenu-top-group{
	background-color:#BED08F;
}
.rich-pmenu-hovered-element{
	background-color:#BED08F;
}
.rich-menu-item{
	background-color:#BED08F;
}

.rich-pmenu-nowrap{
	background-color:#BED08F;
}

/***/
/* the specificity here is necessary to override the defaults */
/**/
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	background-color: #6E7953;
    border-color: #6E7953;
    color: #FFFFFF;
	padding: 2px 3px;
}

.rich-panel input[type=submit], .rich-panel input[type=button],
.rich-tabpanel input[type=submit], .rich-tabpanel input[type=button] {
	 background-color: #6E7953;
    border-color: #6E7953;
    color: #FFFFFF;
	margin-bottom: 0;

}

.tableControl input[type=submit], .tableControl input[type=button], .tableControl select {
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.rich-toolbar-item a {
	text-decoration: none;
}

.rich-toolbar-item a:hover, .rich-ddmenu-label-select {
	text-decoration: underline;
}

.rich-toolbar-item .rich-menu-item a:hover {
	text-decoration: none;
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
   border: 0;
}

table.radio td {
   padding: 0 2px;
}

table.radio input[type=radio] {
   vertical-align: bottom;
}

.numeric{
	text-align:right;
}

.rowTop{
	vertical-align: top;
}

.rowSub{
	vertical-align: sub;
}

.labelClass{
	font-size: 10px;
	margin: 0px;
	font-weight: bold;
}

.selectedRow {
    background-color: #C0C0C0; 
    /** #F1F1F1 - #66CCFF - #969696 - #C0C0C0*/ 
}

.notSelectedRow {
    background-color: #{a4jSkin.tableBackgroundColor}
    ;
}
.ui-autocomplete-input {
    width:350px;
     
}



