.body3 {
	height: 540px;
}

.dr-table-cell {
    border-bottom: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    padding: 4px;
    vertical-align:top;
}


h1 {
    font-size: 1.6em;
    margin-top: 10;
}


.dr-toolbar-int {
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
	white-space: normal;
}

.dr-pnl-b {
	color: #000000;
	font-family: Verdana;
	font-size: 10px;
	padding: 0 0 0 0;
	vertical-align:top;
}

.dr-pnl {
	border-style: solid;
	border-color: #198752;
}


.dr-table-subheadercell {
	border-right: 1px solid #C0C0C0;
	color: #000000;
	background-color: #f1efe4;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 4px;
	text-align: center;
	white-space: nowrap;
}


.dr-pnl-h {
	background-color: #198752;
	background-image: none;
	border-color: #198752;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}



.tit_menu_exp {
    background-color: #198752;
    background-image: none;
    border-color: #198752;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}

.dr-pmenu-top-group-div {
    border-color: #198752;
}


/* PANEL rich:simpleTogglePanel*/
.dr-stglpnl-h {
    background-color: #198752;
    border-color: #198752;
    color: #FFFFFF;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.dr-stglpnl-h {
    background-image: none;
}

.dr-stglpnl {
    background-color: #FFFFFF;
    border-color: #198752;
}

/* modal espera */
.dr-mpnl-pnl-h {
    background-color: #198752;
    color: #FFFFFF;
    font-weight: bold;
    background-image: none;
    border-color: #198752;
}

.dr-mpnl-pnl {
    background-color: #FFFFFF;
    border-color: #999977;
}

/* recuadro */
.dr-tbpnl-cntnt {
    background-color: #FFFFFF;
    border-bottom-color: #198752;
    border-left-color: #198752;
    border-right-color: #198752;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

.dr-bottom-line {
    border-bottom: 1px solid #198752;
}

/* TABS */
.dr-tbpnl-tb-act {
    background-color: #999977;
    color: #ffffff;
    background-image: none;
}

.dr-tbpnl-tb-inact {
    background-color: #f1efe4;
    background-image: none;
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #999977;
    border-style: solid;
    border-width: 0px 0px 0;
    cursor: pointer;
}

.dr-tbpnl-tbbrdr {
    background-image: none;
    background-color: #999977;
}

.dr-tbpnl-tbtopbrdr {
    border-top-color: #999977;
}




/* FILE UPLOADER */
.rich-fileupload-toolbar-decor {
    background-color: #f1efe4;
    border-bottom: 1px solid #C0C0C0;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 2px;
    width: 100%;
}

.rich-fileupload-button {
    background-color: #999977;
    background-image: none;
    background-position: left top;
    background-repeat: repeat-x;
    cursor: pointer;
    padding: 2px;
    color: #ffffff;
}

.rich-fileupload-button-content {
    color: #000000;
    display: block;
    text-decoration: none;
}

.rich-fileupload-button-light {
    background-color: #198752;
    background-image: none;
    background-position: left top;
    background-repeat: repeat;
    border: 1px solid #198752;
    cursor: pointer;
    padding: 1px;
}


/* MENU CLICK CUENTA*/

.rich-menu-list-bg {
    background-image: none;
    border-left-color: #F1EFE4;
    border-right-color: #F1EFE4;
    border-top-color: #F1EFE4;
}

.rich-menu-separator {
    border-top-color: #198752;
}

.rich-menu-item, .rich-menu-item a, .rich-menu-item a:hover, .rich-menu-item a:visited, .rich-menu-group, .rich-menu-group a, .rich-menu-group a:hover, .rich-menu-group a:visited {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    background-color: #F1EFE4;
}

.rich-menu-item a:hover, .rich-menu-group a:hover {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    background-color: #ffffff;
}



/* otros */
/* tabla */
.table-subheadercelltittle {
    background-color: #198752;
    border-right: 1px solid #C0C0C0;
    color: #ffffff;
    font-family: Verdana;
    font-size: 12px;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}



/* theme */

html {
	overflow-y: scroll;
}

body {
	font-size: 10px;
	margin: 0px;
	font-family: Verdana;
}

a img {
	border: none;
}

h1 {
    font-size: 1.6em;
    margin-top: 0;
}

input[type=submit], input[type=button] {
	font-size: 10px;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	font-size: 10px;
	padding-left: 1px;
}

select {
	font-size: 10px;
	font-family: Verdana;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}

.rich-table {
	width: 100%;
}

.body {
	padding: 30px;
}
.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
	font-family: Verdana;
	font-size: 10px;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input, .errors textarea, .errors select {
	border: 1px solid red !important;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
} 

/* the specificity here is necessary to override the defaults */
/*
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}*/

.rich-panel input[type=submit], .rich-panel input[type=button],
.rich-tabpanel input[type=submit], .rich-tabpanel input[type=button] {
	margin-bottom: 0;
}

.tableControl input[type=submit], .tableControl input[type=button], .tableControl select {
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.rich-toolbar-item a {
	text-decoration: none;
}

.rich-toolbar-item a:hover, .rich-ddmenu-label-select {
	text-decoration: underline;
}

.rich-toolbar-item .rich-menu-item a:hover {
	text-decoration: none;
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
   border: 0;
}

table.radio td {
   padding: 0 2px;
}

table.radio input[type=radio] {
   vertical-align: bottom;
}

.numeric{
	text-align:right;
}

.rowTop{
	vertical-align: top;
}

.rowSub{
	vertical-align: sub;
}

.labelClass{
	font-size: 10px;
	margin: 0px;
	font-weight: bold;
}

.selectedRow {
    background-color: #C0C0C0; 
    /** #F1F1F1 - #66CCFF - #969696 - #C0C0C0*/ 
}

.notSelectedRow {
    background-color: #{a4jSkin.tableBackgroundColor}
    ;
}
.ui-autocomplete-input {
    width:350px;
     
}


/****************************************************** 
		WWW.ACTIMEDIA.COM.PY - TABLA GENERAL
*******************************************************/

.wppt-pricing-table .wppt-column.price-no-color.green-xl .wppt-price-container h1{
	color:#1D925A;
}

.wppt-pricing-table .wppt-column.button-no-color.green-xl .wppt-button-container .wppt-button,
.wppt-pricing-table .wppt-column.price-color.green-xl .wppt-price-container,
.wppt-pricing-table .wppt-column.title-color.green-xl .wppt-title-container,
.wppt-pricing-table .wppt-column.button-color.green-xl .wppt-button-container,
.wppt-pricing-table .wppt-column.features-color.green-xl .wppt-features-container ul,
.wppt-pricing-table .wppt-ribbon.green-xl span,
.wppt-pricing-table .wppt-ribbon.corner.green-xl span:before,
.wppt-pricing-table .wppt-ribbon.corner.green-xl span:after,
.wppt-pricing-table .wppt-ribbon.tall.green-xl:before,
.wppt-pricing-table .wppt-ribbon.straight.green-xl:before {
	background-color:#1D925A;
}

.wppt-pricing-table .wppt-column.featured.green-xl-featured .wppt-title-container,
.wppt-pricing-table .wppt-column.featured.green-xl-featured .wppt-price-container,
.wppt-pricing-table .wppt-column.featured.green-xl-featured .wppt-features-container,
.wppt-pricing-table .wppt-column.featured.green-xl-featured .wppt-button-container
{
	border-color:#a2d687;
}

.wppt-pricing-table .wppt-column.button-no-color.green-xl .wppt-button-container .wppt-button:hover,
.wppt-pricing-table .wppt-column.button-color.green-xl .wppt-button-container .wppt-button:hover,
.wppt-pricing-table .wppt-column.features-style-3.features-color.green-xl .wppt-features-container ul li.odd{
	background-color: #b6dfa0;
}

.wppt-pricing-table .wppt-column.button-color.features-color.green-xl .wppt-features-container ul:last-child,
.wppt-pricing-table .wppt-column.features-style-1.features-color.green-xl .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-1.features-color.green-xl .wppt-features-container ul:first-child li:first-child,
.wppt-pricing-table .wppt-column.features-style-2.features-color.green-xl .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-2.features-color.green-xl .wppt-features-container ul:first-child li:first-child,
.wppt-pricing-table .wppt-column.features-style-3.features-color.green-xl .wppt-features-container ul:first-child li:first-child,
.wppt-pricing-table .wppt-column.features-style-4.features-color.green-xl .wppt-price-container,
.wppt-pricing-table .wppt-column.features-style-5.features-color.green-xl .wppt-price-container
{
	border-color: #b6dfa0;
}















/*--------------------------*/


.wppt-wrapper{
	margin:auto;
    text-align: center;    
}

.wppt-pricing-table{
	overflow:hidden;
	padding: 20px 5px;
	display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

/*************** alineación vertical **************/

.wppt-pricing-table .wppt-column .wppt-title-container,
.wppt-pricing-table .wppt-column .wppt-price-container,
.wppt-pricing-table .wppt-column .wppt-button-container,
.wppt-pricing-table .wppt-column .wppt-features-container li{
 	overflow: auto;
}


.wppt-pricing-table .wppt-column .wppt-title-container:after,
.wppt-pricing-table .wppt-column .wppt-price-container:after,
.wppt-pricing-table .wppt-column .wppt-button-container:after,
.wppt-pricing-table .wppt-column .wppt-features-container li:after,
.wppt-pricing-table .wppt-column .wppt-title-container span,
.wppt-pricing-table .wppt-column .wppt-title-container li i,
.wppt-pricing-table .wppt-column .wppt-price-container h1,
.wppt-pricing-table .wppt-column .wppt-button-container a,
.wppt-pricing-table .wppt-column .wppt-features-container li span{
	display: inline-block;
  	vertical-align: middle;
}

.wppt-pricing-table .wppt-column .wppt-title-container:after,
.wppt-pricing-table .wppt-column .wppt-price-container:after,
.wppt-pricing-table .wppt-column .wppt-button-container:after,
.wppt-pricing-table .wppt-column .wppt-features-container li:after{
	content: '';
  	height: 100%;
  	margin-left: -0.25em;
  
}


.wppt-pricing-table .wppt-column .wppt-title-container span,
.wppt-pricing-table .wppt-column .wppt-title-container li i,
.wppt-pricing-table .wppt-column .wppt-price-container h1,
.wppt-pricing-table .wppt-column .wppt-button-container a,
.wppt-pricing-table .wppt-column .wppt-features-container li span{
	max-width: 98%; 
   max-width: calc(100% - 0.25em) 
}  

/****************************************************** 
		Estilos de columnas
*******************************************************/


.wppt-pricing-table .wppt-column{
	width:230px;
	float:left;
	margin-left:7px;
	position:relative;
	-webkit-border-radius: 3px; 
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-transition: margin 0.1s; 
    transition: margin 0.1s;
}

.wppt-pricing-table .wppt-column:first-child{
	margin-left:0px;
}

.wppt-pricing-table.hoverable .wppt-column:hover{
	margin-top:-23px;
	margin-bottom:23px;
}

.wppt-pricing-table.hoverable .wppt-column.featured:hover{
	margin-top:-46px;
	margin-bottom:23px;
}

/****************************************************** 
		Títulos
*******************************************************/


.wppt-pricing-table .wppt-column .wppt-title-container{
	position: relative;
	padding:20px 0px;
	font-size: 18px;
	font-weight:300;
	text-transform:uppercase;
	color:#444;
	-webkit-border-radius: 3px 3px 0px 0px; 
	border-radius: 3px 3px 0px 0px; 
	-moz-border-radius: 3px 3px 0px 0px; 
	border-top:1px solid #DDD;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
	border-bottom:0px;
	overflow:hidden;
}

.wppt-pricing-table .wppt-column .wppt-title-container span{
	position: relative;
	z-index:2;
}

.wppt-pricing-table .wppt-column.title-color .wppt-title-container.darker:before {
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
right: 0;
content: '';
background-color: rgba(0,0,0,0.1);
z-index: 1;
}

/********** Color de título ***************/

.wppt-pricing-table .wppt-column.title-color .wppt-title-container{
	color:#fff;
	border: 0px;
}

/****************************************************** 
		H1
*******************************************************/

.wppt-pricing-table .wppt-column .wppt-price-container{
	padding:30px 0px 10px 0px;
	border-top:0px;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
	border-bottom:0px;
}

.wppt-pricing-table .wppt-column .wppt-price-container h1{
	padding:0px;
	margin:0px;
	font-size: 50px;
}

.wppt-pricing-table .wppt-column .wppt-price-container h1 sup{
	font-size:60%;
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
	top: -0.5em; 
	color:#444;
	font-weight:300;
}

.wppt-pricing-table .wppt-column .wppt-price-container h1 span{
	font-size: 20px;
	font-weight:300;
	color:#444;
}

/********** H1 color ***************/

.wppt-pricing-table .wppt-column.price-color .wppt-price-container h1,
.wppt-pricing-table .wppt-column.price-color .wppt-price-container h1 sup,
.wppt-pricing-table .wppt-column.price-color .wppt-price-container h1 span{
	color:#fff;
}

.wppt-pricing-table .wppt-column.price-color.features-style-1 .wppt-features-container ul:first-child li:first-child{
	border-top:0px;
}

.wppt-pricing-table .wppt-column.price-color .wppt-price-container{
	border:0px;
}

.wppt-pricing-table .wppt-column.price-no-color .wppt-price-container{
	 background-color:#fff;
}

/****************************************************** 
		varios
*******************************************************/

.wppt-pricing-table .wppt-column .wppt-features-container{
	margin:0px;
	padding:0px;
	border-top:0px;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
	border-bottom:0px;
	overflow:hidden;
}

.wppt-pricing-table .wppt-column .wppt-features-container ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}

.wppt-pricing-table .wppt-column .wppt-features-container ul:first-child{
	margin:0px;
	padding:0px;
}

.wppt-pricing-table .wppt-column .wppt-features-container li{
	font-size:13px;
	font-weight:300;
	color:#444;
}

.wppt-pricing-table .wppt-column .wppt-features-container ul:last-child{
	border-bottom: 1px solid #ddd
} 

.wppt-pricing-table .wppt-column.features-color .wppt-features-container{
	border:0px;
}

.wppt-pricing-table .wppt-column .wppt-features-container img{
	width:100%;
}

/********** Listas destacadas ***************/

.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul,
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul{
	margin: 0px;
}

.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container li:first-child,
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container li:first-child{
	border:0px;
}

/*1*/
.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul:first-child li:first-child
{
	border-top: 1px solid #eee;
	padding:12px 0px;
	text-align:left;
	margin:0px 30px;
}

/*2*/

.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul:first-child li:first-child
{
	border-top: 1px solid #eee;
	padding:12px 30px;
	text-align:left;
	margin:0px;
}

/*separador*/
.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul.separator,
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul.separator{
	margin:0px;
}

.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul.separator li,
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul.separator li{
	padding:1px 10px;
	color:#fff;
	background-color:#999;
	font-weight:500;
	text-align:center;
	margin:0px;
}

.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul.separator li,
.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul li:first-child
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul.separator li,
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul li:first-child
{
	border: 0px;
}

/********** 3 ***************/

.wppt-pricing-table .wppt-column.features-style-3 .wppt-features-container li{
	padding: 12px 30px 13px 30px;
}

.wppt-pricing-table .wppt-column.features-style-3 .wppt-features-container li.odd{
	background-color:#f5f5f5;
}

/*separador*/


.wppt-pricing-table .wppt-column.features-style-3 .wppt-features-container ul.separator li{
	padding:1px;
	color:#fff;
	background-color:#999;
	font-weight:500;
	text-align:center;
}

/********** 4&5 ***************/

.wppt-pricing-table .wppt-column.features-style-4 .wppt-features-container ul:first-child,
.wppt-pricing-table .wppt-column.features-style-5 .wppt-features-container ul:first-child
{
	padding-top:25px;
}

.wppt-pricing-table .wppt-column.features-style-4 .wppt-features-container ul:last-child,
.wppt-pricing-table .wppt-column.features-style-5 .wppt-features-container ul:last-child
{
	padding-bottom:25px;
}

/*4 */
.wppt-pricing-table .wppt-column.features-style-4 .wppt-features-container li{
	padding:3px 30px;
	text-align:left;
}

/*5 */

.wppt-pricing-table .wppt-column.features-style-5 .wppt-features-container li{
	padding:12px 30px;
	text-align:left;
}

.wppt-pricing-table .wppt-column.features-style-4 .wppt-price-container,
.wppt-pricing-table .wppt-column.features-style-5 .wppt-price-container
{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

/*separador*/

.wppt-pricing-table .wppt-column.features-style-4 .wppt-features-container ul.separator,
.wppt-pricing-table .wppt-column.features-style-5 .wppt-features-container ul.separator
{
padding:1px 0px;
background-color:#999;
}

.wppt-pricing-table .wppt-column.features-style-4 .wppt-features-container ul.separator li,
.wppt-pricing-table .wppt-column.features-style-5 .wppt-features-container ul.separator li{
color:#fff;
padding: 0px 10px;
font-weight:500;
text-align:center;
}

/********** color ***************/

.wppt-pricing-table .wppt-column.features-color .wppt-features-container li,
.wppt-pricing-table .wppt-column.features-color .wppt-features-container li i{
	color:#fff;
}

.wppt-pricing-table .wppt-column.features-style-1.features-color .wppt-features-container li:first-child,
.wppt-pricing-table .wppt-column.features-style-2.features-color .wppt-features-container li:first-child{
	border:0px;
}

.wppt-pricing-table .wppt-column.features-style-1.features-color .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-1.features-color .wppt-features-container ul:first-child li:first-child,
.wppt-pricing-table .wppt-column.features-style-2.features-color .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-2.features-color .wppt-features-container ul:first-child li:first-child,
.wppt-pricing-table .wppt-column.features-style-3.features-color .wppt-features-container ul:first-child li:first-child
{
	border-top:1px solid;
}

.wppt-pricing-table .wppt-column.features-style-4.features-color .wppt-price-container,
.wppt-pricing-table .wppt-column.features-style-5.features-color .wppt-price-container{
	border-top:1px solid;
	border-bottom:1px solid;
}

.wppt-pricing-table .wppt-column.features-color .wppt-features-container ul.separator li,
.wppt-pricing-table .wppt-column.features-color .wppt-features-container ul.separator {
background-color:#e5e5e5;
color:#444;
border:0px;
}

/********** icons ***************/

.wppt-pricing-table .wppt-column .wppt-features-container li i{
	margin-right:10px;
	color:#aaa;
	vertical-align:middle;
}

/****************************************************** 
		Botones
*******************************************************/

.wppt-pricing-table .wppt-column .wppt-button-container{
	padding: 20px 10px;
	border-top:0px;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
	border-bottom:1px solid #DDD;
	-webkit-border-radius: 0px 0px 3px 3px; 
	border-radius: 0px 0px 3px 3px; 
	-moz-border-radius: 0px 0px 3px 3px; 
}

.wppt-pricing-table .wppt-column .wppt-button-container .wppt-button {
	padding: 6px 30px;
	color:#fff;
	border-radius: 3px;
	display:inline-block;
	font-size:15px;
}

/********** color ***************/

.wppt-pricing-table .wppt-column.button-color .wppt-button-container{

	border:0px;
	-webkit-border-radius: 0px 0px 3px 3px; 
	border-radius: 0px 0px 3px 3px; 
	-moz-border-radius: 0px 0px 3px 3px; 
}

.wppt-pricing-table .wppt-column.button-color .wppt-button-container .wppt-button{
	background-color:transparent;
	border:2px solid #fff;
}


/****************************************************** 
		columnas
*******************************************************/

.wppt-pricing-table .wppt-column.featured{
	z-index:10;
}

.wppt-pricing-table .wppt-column.featured .wppt-title-container{
	border-top:5px solid #999;
	border-right:5px solid #999;
	border-left:5px solid #999;
	border-bottom:0px;
}

.wppt-pricing-table .wppt-column.featured .wppt-price-container,
.wppt-pricing-table .wppt-column.featured .wppt-features-container{
	border-top:0px;
	border-right:5px solid #999;
	border-left:5px solid #999;
	border-bottom:0px;
}

.wppt-pricing-table .wppt-column.featured .wppt-button-container
{
	border-top:0px;
	border-right:5px solid #999;
	border-left:5px solid #999;
	border-bottom:5px solid #999;
}

.wppt-pricing-table .wppt-column.featured{
	margin-top:-23px;
}

.wppt-pricing-table .wppt-column.featured .wppt-title-container{
	padding:29px 0px 29px 0px;
	font-weight:300;
}

/*
.wppt-pricing-table .wppt-column.featured .wppt-title-container:after{
	padding: 1px;
	content: 'RECOMMENDED';
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	display: block;
	top: 20px;
	margin-top: 15px;
}
*/
.wppt-pricing-table .wppt-column.featured .wppt-button-container{
	padding: 30px 10px 30px 10px;
}


/***************** Cintas ****************/

.wppt-ribbon.straight{
	text-align:left
}

.wppt-ribbon.straight span{
    position:absolute;
    display: inline-block;
    margin-left:-5px;
    color:#fff;
    font-size:14px;
    top:60px;
    left:0px;
    padding:3px 10px 3px 20px;
    -moz-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    -o-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    z-index: 3;
}


.wppt-ribbon.straight:before,
.wppt-ribbon.straight:after{
	content:" ";
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    top:55px;
	-webkit-transform: rotate(-45deg);
   	-moz-transform:    rotate(-45deg);
   	-ms-transform:     rotate(-45deg);
   	transform:         rotate(-45deg);
}

.wppt-ribbon.straight:before{
	margin-bottom: -5px;
	margin-left: 2px;
	left: -5px;
    z-index:-2;
}

.wppt-ribbon.straight:after{
    background-color:rgba(0,0,0,0.3);
	left: -3px;
    z-index:-1;

}


/* en columnas destacadas */

.wppt-column.featured .wppt-ribbon.straight span{
	top:75px;
}

.wppt-column.featured .wppt-ribbon.straight:before{
	top:70px;
}

.wppt-column.featured .wppt-ribbon.straight:after{
	top:70px;
}

/***************** esquina ****************/

.wppt-ribbon.corner span{
    position:absolute;
    display: inline-block;
    color:#fff;
    font-size:12px;
    font-weight:600;
    text-align:center:
    height:20px;
    line-height:20px;
    -webkit-transform: rotate(45deg);
   -moz-transform:    rotate(45deg);
   -ms-transform:     rotate(45deg);
   transform:         rotate(45deg);
   z-index:3;
}

.wppt-ribbon.corner span:before,
.wppt-ribbon.corner span:after{
	content:'';
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;	
	height:20px;
	display:block;
	position: absolute;
	top:0px;
	z-index:-2;
}

.wppt-ribbon.corner span:before{
	margin-left:-10px;
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
}

.wppt-ribbon.corner span:after{
	margin-left:10px;
	-webkit-transform: skewX(45deg);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
}

.wppt-ribbon.corner.small span,
.wppt-ribbon.corner.small span:before,
.wppt-ribbon.corner.small span:after{
    width:40px;
}

.wppt-ribbon.corner.small span{
	right:0px;
    top:10px;
}

.wppt-ribbon.corner.medium span,
.wppt-ribbon.corner.medium span:before,
.wppt-ribbon.corner.medium span:after{
    width:70px;
}

.wppt-ribbon.corner.medium span{
	right:-4px;
    top:20px;
}

.wppt-ribbon.corner.large span,
.wppt-ribbon.corner.large span:before,
.wppt-ribbon.corner.large span:after{
    width:100px;
}

.wppt-ribbon.corner.large span{
	right:-8px;
    top:31px;
}

/***************** tall ****************/

.wppt-ribbon.tall span{
	position:absolute;
    display: inline-block;
    color:#fff;
    font-size:14px;
    height:25px;
    line-height:25px;
    -moz-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    -o-box-shadow:2px 2px 1px rgba(0,0,0,0.3);
    box-shadow:2px 2px 1px rgba(0,0,0,0.3);
	-webkit-transform: rotate(-90deg);
   -moz-transform:    rotate(-90deg);
   -ms-transform:     rotate(-90deg);
   transform:         rotate(-90deg);
   z-index:3;
}

.wppt-ribbon.tall:before,
.wppt-ribbon.tall:after{
    content:" ";
    display:block;
    width:10px;
    height:10px;
    position:absolute;
	top: 23px;
	left: 16px;
	margin-bottom: -5px;
	margin-left: -18px;
    -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   transform:         rotate(-45deg);
}

.wppt-ribbon.tall:before{
	z-index: -2;
}

.wppt-ribbon.tall:after{
    background-color:rgba(0,0,0,0.3);
	z-index: -1;
}

.wppt-ribbon.tall.small span{
	width:50px;
	left: -17px;
	top: 41px;
}

.wppt-ribbon.tall.medium span{
	width:100px;
	left: -42px;
	top: 66px;
}

.wppt-ribbon.tall.large span{
	width:150px;
	left: -67px;
	top: 91px;
}

@media all and (max-width: 580px){
	.wppt-pricing-table .wppt-column{
	width:100%;
	margin-left:0px;
	margin-bottom:10px;
}
}



@media all and (max-width: 1251px)and (min-width:851px){
.wppt-pricing-table .wppt-column{
	width:150px;
}

.wppt-pricing-table .wppt-column .wppt-features-container li i{
	display: none;
}

.wppt-pricing-table .wppt-column .wppt-price-container h1{
	font-size: 30px;
}

.wppt-pricing-table .wppt-column .wppt-title-container{
	font-size:15px;

}
.wppt-pricing-table .wppt-column .wppt-features-container li{
	font-size:12px;
}

.wppt-pricing-table .wppt-column .wppt-button-container .wppt-button{
	padding: 3px 15px;
	font-size:13px;
}

.wppt-pricing-table .wppt-column.button-color .wppt-button-container .wppt-button{
	border:2px solid #fff;
}
}


@media all and (max-width: 850px) and (min-width:581px) {
	.wppt-pricing-table .wppt-column{
	width:100px;
}

.wppt-pricing-table .wppt-column .wppt-features-container li i{
	display: none;
}

.wppt-pricing-table .wppt-column .wppt-price-container h1{
	font-size: 20px;
}

.wppt-pricing-table .wppt-column .wppt-title-container{
	font-size:12px;

}
.wppt-pricing-table .wppt-column .wppt-features-container li{
	font-size:10px;
	margin-top:;
}

.wppt-pricing-table .wppt-column .wppt-button-container .wppt-button{
	padding: 1px 5px;
	font-size:12px;
}

.wppt-pricing-table .wppt-column.button-color .wppt-button-container .wppt-button{
	border:1px solid #fff;
}
.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-1 .wppt-features-container ul:first-child li:first-child{
	margin:0px 10px;
}

.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-2 .wppt-features-container ul:first-child li:first-child,
.wppt-pricing-table .wppt-column.features-style-3 .wppt-features-container ul li,
.wppt-pricing-table .wppt-column.features-style-5 .wppt-features-container ul li{
{
	padding:12px 10px!important;
}

.wppt-pricing-table .wppt-column.features-style-4 .wppt-features-container ul li{
	padding:3px 10px;
}

.wppt-pricing-table .wppt-column .wppt-price-container h1 span{
	font-size: 16px;
}

}




