<p>
	<strong>Estimado(a) Integrante de la Comisi&oacute;n de Selecci&oacute;n,</strong></p>
<p>
	Le comunicamos que el Grupo $nombreGrupo del Concurso Ad-Referendum 
</p>
<p>
	$nombreConcurso ha sido declarado Desierto.
</p>
<p></p>
<p> </p>
<p>
	Atentamente,
</p>


 <p> </p>
 <p >&nbsp; <strong> $oeeDescripcion</strong>
 </p>


