<p>
	<strong>Se ha realizado traslado definitivo sin l&iacute;nea y debe haber concurso,</strong></p>
<p>
	&nbsp;</p>
<p>
	OEE $OEE del funcionario $FUNCIONARIO con fecha de inicio $FECHA_INICIO del puesto $PUESTO_ANTERIOR.</p>
<p>
	&nbsp;</p>
<p>
	SICCA</p>