 
<p>	<strong>Se ha realizado un registro de promoción sin concurso:</strong></p>
<p style="margin-left:14.2pt;">
	OEE $denoUnidad del funcionario $nombreFunciorario</p>
<p style="margin-left:14.2pt;">
	Se obtuvo el siguiente resultado (resumido):</p>
<p style="margin-left:14.2pt;">	 con fecha de inicio $fechaIni del puesto $puesto</p>

<p style="margin-left:14.2pt;">	&nbsp;</p>

<p>
	<strong>Atentamente</strong></p>
<p>	SICCA</p>
 