<p>
	<strong>Estimado/a $nombreUsuario </strong></p>
<p>
	Se ha registrado con &eacute;xito la postulaci&oacute;n al&nbsp; Concurso:</p>
<p style="text-align: center;">
	<strong>$concursoNro/$concursoAnio de $uoDescCorta $descConcursoPuesroAgr</strong></p>
<p>
	<strong>Adem&aacute;s le recordamos que el C&oacute;digo de Postulaci&oacute;n que utilizar&aacute; el </strong><strong>Portal Paraguay Concursa</strong><strong>&nbsp; es:</strong></p>
<p style="text-align: center;">
	<strong>$usuarioCodigo</strong></p>
<p style="text-align: justify;">
	&nbsp;<strong>&iexcl;Importante!:</strong>&nbsp;Si desea consultar sus postulaciones o cancelar el mismo, podr&aacute; acceder a su cuenta en el Portal y en el apartado &ldquo;Mis Postulaciones&rdquo;, encontrar&aacute; todas las postulaciones activas, a las que se encuentra inscripta junto con sus respectivos enlaces &ldquo;Cancelar postulaci&oacute;n&rdquo;.</p>
<p>
	<strong>Atentamente</strong></p>
<p>
	<strong>SICCA</strong></p>
