<p><strong>Estimado/a:</strong></p>
<p style="margin-left:14.2pt;">
	Informamos que se ha realizado la actualizaci&oacute;n del Anexo a trav&eacute;s del SINARH, correspondiente al A&ntilde;o $ANI_ANIOPRE</p>
<p>
<strong>Atentamente</strong></p>
<p>
	Secretar&iacute;a de la Funci&oacute;n P&uacute;blica</p>
