<p>
	<strong>Estimado/a $personNombre $personApellido</strong></p>
<p>
	Se ha creado para usted un Usuario del Portal a trav&eacute;s de su carpeta, la cual fue  
</p>
<p>
	recepcionada por <strong>$uoDenominacion</strong> 
</p>
<p>
	Sus claves de acceso al Portal SICCA son:
</p>
<p align=\"center\">
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <strong>Documento de Identidad: $documentoCi</strong>
</p>
<p align=\"center\">
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <strong>Contrase&ntilde;a:   $pass</strong>
</p>
<p>
   Además le informamos que el C&oacute;digo de Postulaci&oacute;n que utilizar&aacute; el Portal SICCA para identificarlo ser&aacute;:
</p>
<p align=\"center\">
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <strong> $usuarioCod</strong>
</p>
<p>
	<strong>¡Importante!:</strong>Le recordamos que al ingresar a su cuenta de usuario debe completar su Curriculum Vitae, en el apartado &#8220;Mis Datos&#8221;. 
</p>
<p>
A trav&eacute;s de su cuenta del Portal SICCA, podr&aacute; realizar permanentemente las siguientes acciones:
</p>
<p> &nbsp;&nbsp;&nbsp; -	Actualizar constantemente su Curriculum Vitae
</p>
<p> &nbsp;&nbsp;&nbsp; -	Modificar su Clave de acceso al sistema
</p>
<p> &nbsp;&nbsp;&nbsp; -	Podr&aacute; postular a los Concursos disponibles en el apartado &#8220;Postule aqu&iacute;&#8221; </p>
</p>
<p> &nbsp;&nbsp;&nbsp; -	Visualizar las Postulaciones a la cual se encuentra registrada.
</p>
<p> &nbsp;&nbsp;&nbsp; -	Realizar Reclamos y Sugerencias 
</p>
<p> &nbsp;&nbsp;&nbsp; -	Visualizar las notificaciones a las cuales fue subscripta
</p>
<p>Para ello, deber&aacute; ingresar al Portal a trav&eacute;s de este enlace: <a href="http://www.paraguayconcursa.gov.py/"> Portal Paraguay Concursa</a>,
	con su claves y de esta forma podr&aacute; ingresar al apartado de su inter&eacute;s 
</p>

<p>Gracias por haberse registrado al Portal! &Eacute;xitos  <br />  </p>
 <p> </p>
 <p> </p>
 <p> </p>
 <p align=\"justify\">&nbsp; </p><strong>Atentamente</strong>
 </p>


