<p>
	<strong>Estimado(a) Integrante de la Comisi&oacute;n de Selecci&oacute;n,</strong></p>
<p style="text-align: justify;">
	Le comunicamos que el Grupo <strong>$descripcion_grupo </strong> del Concurso <strong>$nombreConcurso</strong>ha sido declarado desierto en fecha $fecha, por no contar con Postulantes.</p>
<p>
	<strong>Atentamente,</strong></p>
<p>
	<strong>SICCA</strong></p>