<p>
	<strong>Estimada Secretar&iacute;a de la Funci&oacute;n P&uacute;blica,</strong></p>
<p style="text-align: justify;">
	Le comunicamos que el Nombre/Apellido del/la Persona con documento de identidad <strong>$nro_documento_identidad</strong>, y pa&iacute;s de expedici&oacute;n del documento de identidad <strong>$pais_expedicion_documento</strong> del sistema SICCA, no coinciden con los documentos presentados por Carpeta.</p>
<p style="text-align: justify;">
	Raz&oacute;n por la cual, se crear&aacute; una Nueva Persona con los datos presentados en esta instituci&oacute;n.</p>
<p style="text-align: justify;">
	Dichos documentos fueron presentados V&iacute;a Carpeta en la Postulaci&oacute;n del Concurso <strong>$CONCURSO_NUMERO $CONCURSO_ANIO $CONFIGURACION_UO_CAB_DESCRIPCION_CORTE</strong>, Grupo <strong>CONCURSO_PUESTO_AGR_DESCRIPCION_GRUPO. </strong></p>
<p>
	&nbsp;</p>
<p>
	<strong>Atentamente,</strong></p>
<p>
	<strong>$CONFIGURACION_UO_CAB_DENOMINACION_UNIDAD</strong></p>
