<p>
	<strong>Estimado/a $ppNOMBRE $ppAPELLIDO :</strong></p>
<p>
	Le comunicamos que ha sido seleccionado/a para la Evaluaci&oacute;n de Adjudicados para el Concurso:</p>
<p style="text-align: center;">
	<strong>$CONCURSOnumero / $CONCURSOanio de $UOdescripcionCorta $CONCURSOnombre</strong></p>
<p style="text-align: center;">
	<strong>$concursoPuestoDescripcionGrupo</strong></p>
<p>
	<strong>Deber&aacute; acercar los siguientes documentos:</strong></p>
#foreach( $nombre in $docs )
    * $nombre<br />
#end
<p></p>
<p style="text-align: justify;">
	Atentamente,<br />
	<strong>$uoDenominacionUnidad</strong></p>
