 
<p>	<strong>Estimado/a:</strong></p>
<p style="margin-left:14.2pt;">
	Informamos que se ha realizado la operaci&oacute;n de inserci&oacute;n de registros por N&oacute;mina de Funcionarios para el OEE: $denoUnidad (c&oacute;digo: $codigoNivel - $codigoEntidad - $codigoOEE) correspondiente al mes de $nombreMes, en 
	el M&oacute;dulo de Remuneraciones del SICCA, llevada a cabo por el usuario $codUser, $nombreUsuario </p>
<p style="margin-left:14.2pt;">
	Se obtuvo el siguiente resultado (resumido):</p>
<p style="margin-left:14.2pt;">	&nbsp;</p>
$tabla
$alerta
<p style="margin-left:14.2pt;">	&nbsp;</p>
$cuadro
<p style="margin-left:14.2pt;">	&nbsp;</p>
<p style="margin-left:14.2pt;">
	Observaci&oacute;n: Los c&oacute;digos de movimientos A, B y TT, as&iacute; como la columna de Discapacidad, deben ser indicadas en una sola fila por funcionario, en la fila correspondiente al sueldo principal.</strong></p>
<p>
	<strong>Atentamente</strong></p>
<p>	Secretar&iacute;a de la Funci&oacute;n P&uacute;blica</p>
 