<p>
	<strong>Estimado(a) $nombreApellido</strong></p>
<p>
	Le comunicamos que el Puesto de  $nombreGrupo del Concurso Ad-Referendum 
</p>
<p>
	$nombreConcurso ha sido declarado Desierto.
</p>
<p>
	Le agradecemos el inter&eacute;s que ha mostrado para este Concurso,
	y deseamos poder contar con usted para nuestros pr&oacute;ximos concursos.
</p>
<p> </p>
<p> </p>
<p> </p>
<p>
	Atentamente,
</p>


 <p> </p>
 <p >&nbsp; <strong> $oeeDescripcion</strong>
 </p>


