<p>
	<strong>Estimado/a $personNomrbre $personApellido;</strong></p>
<p>
	Le comunicamos que el Postulante:</p>
<p>
	$usuarioCod, <strong>$postulanteNombre $postulanteApellido</strong>, con documento de identidad n&uacute;mero <strong>$postulanteCI</strong>&nbsp; y pa&iacute;s de expedici&oacute;n del documento<strong> $postulantePaisExpe,</strong> ha cancelado su postulaci&oacute;n al Concurso:</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>$concursoNro/$concursoAnio de $uoDescCorta  $concursoNombre </strong></p>
<p>
	<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $descGrupo</strong></p>
<p>
	En fecha: $fecha, previa presentaci&oacute;n de documentos.</p>
<p>
	<strong>Atentamente,</strong></p>
<p>
	<strong>$uoDenominacion</strong></p>
 
	
