<p>
	<strong>Estimado(a) Integrante de la Comisi&oacute;n de Selecci&oacute;n,</strong></p>
<p>
	Le comunicamos que el Grupo $nombreGrupo  
</p>
<p>
	del Concurso $nombreConcurso ha sido declarado Desierto por no tener   Adjudicados.
</p>
<p></p>
<p> </p>
<p>
	Atentamente,
</p>


 <p> </p>
 <p >&nbsp; <strong> $oeeDescripcion</strong>
 </p>


