<p>
	<strong>Estimado(a) $nombreApellido</strong></p>
<p>
	Le comunicamos que ha sido seleccionado/a en el Sorteo realizado para el Concurso:
</p>
<p align=\"center\">
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <strong>$titulo</strong>
</p>
<p align=\"center\">
	&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <strong>$nombreGrupo</strong>
</p>

<p>
	La selecci&oacute;n de postulantes es aleatoria.	
</p>

<p></p>
<p> </p>
<p>
	Atentamente,
</p>


 <p> </p>
 <p >&nbsp; <strong> $oeeDescripcion</strong>
 </p>


